{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<style type="text/css">
	.row th {
		text-align: center;
	}
	
	.row td {
		text-align: center;
	}

	.purchase-btn:hover {
    background-color:rgb(197, 26, 26); /* Green */
    color: white;
	}
	
	.sumdiv{
		background-color: #fff;
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	
	#bigdiv{
		background-color: #fff;
		border: 1px solid #ccc;
		border-collapse: collapse;
	}

	.black_overlay {
		display: none;
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		background-color: black;
		z-index: 1001;
		-moz-opacity: 0.8;
		opacity: .50;
		filter: alpha(opacity=80);
	}
	
	.white_content {
		display: none;
		position: absolute;
		top: 10%;
		left: 10%;
		width: 80%;
		height: 80%;
		border: 8px solid lightblue;
		background-color: white;
		z-index: 1002;
		overflow: auto;
	}


</style>
{% endblock %}


{% block content %}
<div class="row1" style="height: 60px;">
		<div class="col-md-12" style="text-align: center;">
		</div>
	</div>
	<div class="row" >
		<div class="row3" style="height: 50px;">
				<div class="col-md-6" style="text-align:left;">
					<!-- <button id="deleteBtn" type="button" class="btn btn-danger delBtn"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>批量删除</button>			 -->
					<input id="deleteBtn" type="button" class="btn btn-danger delBtn" value="批量删除"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</div>
			
			<div class="col-md-6" style="text-align: right;">
				<p>共有数据:<strong id="goodsNumber">0</strong>条</p>
			</div>
		</div>
		
		
		<div class=""  id="bigdiv">
			
			<table id="table" class="table table-bordered" >
				<tbody>
					<tr class="row">
						<th>
							<input type="checkbox" id="checkbox-all" value="$(cartsid)" class="all">
						</th>
						<th>自然序号</th>
						<th>商品名称</th>
						<th>商品图文信息</th>
						<th>所属商家</th>
						<th>商家类别</th>
						<th>单价</th>
						<th>数量</th>
						<th>金额</th>
						<th>操作</th>
					</tr>
				</tbody>
					<!-- <tr class="row">
					<tbody>
						<th>
							<input type="checkbox" class="checkbox-one">
						</th>
						<th class="id">' + cartsid + '</th>
						<th>huawei</th>
						<th>' + goodsid + '</th>
						<th>华为</th>
						<th>手机</th>
						<th>￥2999</th>
						<th>
							<div class="item-amount">
								<a href="#" class="J_Minus no-minus glyphicon glyphicon-minus decrease" name="-"></a>
								<input type="text" value="' + number + '" class="text text-amount J_ItemAmount counts" data-max="281" data-now="1" autocomplete="off">
								<a href="#" class="J_Plus plus glyphicon glyphicon-plus increase"></a>
							</div>
						</th>
						<th>金额</th>
						<th>
							<button class="btn btn-success">购 买</button>
							<button class="btn btn-danger delbtn">删 除</button>
						 </th>
						</tr>
					</tbody> -->
					

					
				</table>
		</div>
		
		

		<div id="fade" class="black_overlay">
		</div>
		<div id="MyDiv" class="white_content">
			<div style="text-align: right; cursor: default; height: 40px;" id="move">
				<span style="font-size: 16px;" onclick="CloseDiv('MyDiv','fade')">关闭</span>
			</div>
		 	<div id="">
				<div>
					<h1>商品信息添加：</h1>
					<script id="editor" type="text/plain" style="width:100%;height:300px;"></script>
				</div>
				<div id="btns">
					<div id="div_Old" style="height: 300px;border: 2px solid red;width: 100%;">						
					</div>
					<br />
					<div align="center">				
						<form id="uploadForm" method="post" action="http://localhost:8000/adManageJsonAdd/" >  
								<input type="file" name="imgsFile"></input>  
								<input id="subbtn" type="submit" >  
						</form> 
					</div>
					<br />
					<div id="" align="center">
						<button style="background-color: red;height: 30px;width: 50px;"onclick="addAll()">添加</button>
					</div>
				</div>
				
			</div>

		</div>
		
		
{% endblock %}


{% block contentRight %}

<ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">购物车列表</li>
</ol>

{% endblock %}


{% block contentLeft %}
购物车列表
<small>Version 5.0</small>

{% endblock %}

{% block script %}
<script>
$('#checkbox-all').click(function () {
	if($('#checkbox-all').is(':checked')) {
		$(".checkbox-one").prop("checked",true);
	}else{
		$(".checkbox-one").prop("checked",false);
	}
});

function getDataFn(opt) {
	$.ajax({
		type: "post",
		url: "http://localhost:8000/cartstableManageJsonGain/",
		async: true,
		success: function(res) 
		{
			console.log(res);
			for(var i = 0; i < res.length; i++) 
			{
				var oneData = res[i];
				var cartsid = oneData.cartsid;
				var number = oneData.number;
				var goodsid = oneData.goodsid;
				var userid = oneData.userid;

				var ele = '<tr class="row"><th><input type="checkbox" class="checkbox-one"></th><th class="id">' + cartsid + '</th><th>huawei</th><th>' + goodsid + '</th><th>华为</th><th>手机</th><th>￥2999</th><th><div class="item-amount"><a href="#" class="J_Minus no-minus glyphicon glyphicon-minus decrease" name="-"></a><input type="text" value="' + number + '" class="text text-amount J_ItemAmount counts" data-max="281" data-now="1" autocomplete="off"><a href="#" class="J_Plus plus glyphicon glyphicon-plus increase"></a></div></th><th>金额</th><th><button class="btn btn-success">购 买</button><button class="btn btn-danger delbtn">删 除</button> </th></tr>' ;
				$(".table-bordered").append(ele) ;
			}
		}
	});
	$('.row').delegate('input', 'click', function(ev){
		b = $(this).val();
		var that = $(this).parent().parent(".row");
		var cartsid = that.children(".id").html();
		// console.log(that);
		// console.log(cartsid);

		var cartsArr = [];
		var checkboxs = $('.checkbox-one');
		
		
		if(b == "批量删除")
		{
			 
			for (var i = 0; i < checkboxs.length; i++) 
			{
				
				if($(checkboxs[i]).is(':checked')) 
				{
					var cartsidOne = $(checkboxs[i]).parents("tr").children(".id").html();
					
					cartsArr.push(cartsidOne);
					console.log("--------------");
					console.log(cartsidOne);
					myPost("http://localhost:8000/cartstableManageJsonDelete/?id=" + cartsArr , 
					{"cartsid":cartsidOne} , 
					function () {
						console.log("删除成功。。。。。");
						$(that).remove();
					})
					
				}
			}
			console.log(cartsArr);
		}
		else{
			console.log(cartsid);
		}
	});
	

	$('.row').delegate('button', 'click', function(ev)
	{
		console.log("&&&&&&&&&&");
		a = $(this).html();
		var that = $(this).parent().parent(".row");
		var cartsid = that.children(".id").html();
		console.log(that);
		console.log(cartsid);
		if (a == "删 除")
		{
			$.ajax({
				url: "http://localhost:8000/cartstableManageJsonDelete/?id=" + cartsid,
				success: function(res) {
					console.log("删除成功。。。。。");
					$(that).remove();
				},
				error: function(msg) {
					console.log("error 加载数据失败");
				}
			});
		}
		else{
			console.log("购买成功");
		}
    });

	$('.row').delegate('a', 'click', function(ev)
	{
		// console.log("**********");
		b = $(this).attr("name");
		var that = $(this).parents(".item-amount");
		var a = $(that).parents(".row");
		var cartsid = a.children(".id").html();
		var number = $(that.children(".counts")).val();
		// console.log(cartsid);
		
		if (b == "-")
		{
			if (number > 0)
			{
				number -- ;
			}
			console.log(number);
			$.post("http://localhost:8000/cartstableManageJsonUpdate/?id=" + cartsid, 
				{"num":number},
				function(data){
					if (data.status == "ok") {
						$(that.children(".counts")).val(number);
						
					} else {
						console.log(data);
					}
				}
			);
		}
		else
		{
			if (number >= 0)
			{
				number ++ ;
			}
			console.log(number);
			$.post("http://localhost:8000/cartstableManageJsonUpdate/?id=" + cartsid, 
				{"num":number},
				function(data){
					if (data.status == "ok") {
						$(that.children(".counts")).val(number);
					} else {
						console.log(data);
					}
				}
			);
		}
	});
	
}
getDataFn();

</script>
{% endblock %}

<!-- <tr class="row">
	<th>
		<input type="checkbox" class="checkbox-one">
	</th>
	<th class="id">' + cartsid + '</th>
	<th>huawei</th>
	<th>' + goodsid + '</th>
	<th>华为</th>
	<th>手机</th>
	<th>￥2999</th>
	<th>
		<div class="item-amount">
		<a href="#" class="J_Minus no-minus glyphicon glyphicon-minus decrease" name="-"></a>
		<input type="text" value="' + number + '" class="text text-amount J_ItemAmount counts" data-max="281" data-now="1" autocomplete="off">
		<a href="#" class="J_Plus plus glyphicon glyphicon-plus increase"></a>
		</div>
	</th>
	<th>金额</th>
	<th>
		<button class="btn btn-success">购 买</button>
		<button class="btn btn-danger delbtn">删 除</button>
	</th>
</tr> -->