{% extends "base.html" %} {% block content %}
<div class="container-fluid ">
	<div class="row ">

		<div class="col-md-11" style="text-align: center;">
			<form class="form-inline" action="#">
				<div class="form-group">
					<label for="exampleInputName2">订单号:</label>
					<input type="text" class="form-control" name = "orderid" id="orderid" placeholder="订单号">
					<label for="exampleInputName2">用户名:</label>
					<input type="text" class="form-control"id="userid" placeholder="用户名">
					<label for="exampleInputName2">订单状态:</label>
					<select name="status" class="form-control" id = "myStatus">
						<option value="1">待审核</option>
						<option value="2">已审核</option>
						<option value = "3">待支付</option>
						<option value = "4">已支付</option>
						<option value = "5">代发货</option>
						<option value = "6">待收货</option>
						<option value = "7">已取消</option>
						<option value = "8">已完成</option>
					</select>
				</div>
				<button type="submit" id = "tijiao"  class="btn btn-success mybtn" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span>订单查询</button>
			</form>
		</div>

		<!-- <div iclass="col-md-1" id="orderCount">
			共有数据：100条
		</div> -->
		<table class="table">

			<caption><strong style="color: #000000;">商品列表</strong></caption>
			<thead>	
				<tr>
					<th>序号</th>
					<th>订单号</th>
					<th>用户ID</th>
					<th>价格</th>
					<th>下单时间</th>
					<th>是否审核</th>
					<th>是否通过</th>
					<th>是否取消</th>
					<th>是否付款</th>
					<th>是否发货</th>
					<th>付款是否完成</th>
					<th>订单是否关闭</th>
					<th>修改状态</th>
					<th>编辑</th>
				</tr>
			</thead>
			<tbody id="mytbody" class="myListTable">

			</tbody>
		</table>

		<div class="text-center">
			<ul id="visible-pages-example"></ul>
		</div>

	</div>

	{% endblock %} {% block contentRight %}

	<ol class="breadcrumb">
		<li>
			<a href="#"><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li class="active">订单管理</li>
	</ol>

	{% endblock %} {% block contentLeft %} 订单管理
	<small>Version 5.0</small> {% endblock %} {% block script %}
	<script>

        var thispage = 1


		//解析数据到页面
		function orderListToPage(data) {
			for (var i = 0; i < data.length; i++) {
				console.log(data[i])
				oneOrder(data[i])
			}
		}

		function oneOrder(data) {
			orderid = data["orderid"]
			userid = data["userid"]
			price = data["price"]
			ordertime = data["ordertime"]
			isaudit = data["isaudit"]
			ispass = data["ispass"]
			iscancel = data["iscancel"]
			ispay = data["ispay"]
			issend = data["issend"]
			ispaydone = data["ispaydone"]
			isclose = data["isclose"]
			var myHtml = '<tr><th scope="row">1</th><td>' + orderid + '</td><td>' + userid + '</td><td>' + price + '</td><td>'+ordertime+'</td><td>' + isaudit + '</td><td>'+ispass+'</td><td>'+iscancel+'</td><td>'+ispay+'</td><td>'+issend+'</td><td>'+ispaydone+'</td><td>'+isclose+'</td><td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></td><td ><span class="glyphicon glyphicon-trash deletespan" aria-hidden="true"></span></td></tr>'
			$(".myListTable").append(myHtml)
			
		}	

		function loadData(){
			$.ajax({
				url: "http://localhost:8000/orderSpilit/?page=" + thispage,
				type:"POST",
				success:function(data){
					ordercount = data.ordercount
					orderListPages = Math.ceil(parseInt(ordercount) / 10 )
					$(".myListTable").children("tr").remove()
					mainData = data.data;
					orderListToPage(mainData)
					$("#orderCount").text(ordercount)
					$("#visible-pages-example").children(".sumdiv").remove()
					var spanele = '<span class="sumdiv">共' + orderListPages + '页,当前第' + thispage + '页,共' + ordercount + '条数据</span>'
					$("#visible-pages-example").append($(spanele))
					
					$('#visible-pages-example').twbsPagination({
						totalPages:orderListPages,
						first: "首页",
						last: "尾页",
						prev: '上一页',
						next: '下一页',
						startPage: 1,
						visiblePages: orderListPages>5?5:orderListPages,
						version: '1.1',
						onPageClick: function (event, page) {
							thispage  = page;
							loadData()
						}
					});
				},
				error:function(msg){
					console.log("加载数据error")
				}
			})
		}
		
		
		loadData()
		



		// function ShowDiv(show_div, bg_div) {
		// 	var commName = ""

		// 	var url = "http://localhost:8000/ordertabalelistJaon/"; //后台接收处理url
		// 	// data =data;
		// 	// var objData = "goodsid=" + addGoodsIdRed; //post方式传送的数据
		// 	// console.log(objData)
		// 	$.ajax({
		// 		url: url,
		// 		type: 'POST',
		// 		success: "success",
		// 		data: {"userid":"aaa","orderid":"vvv"},
		// 		success: function(data) {
		// 			// console.log(data.data)
					
					
		// 			for(var i = 0; i < data.data.length; i++) {
		// 				// if(data.data[i].goodsid == addGoodsIdRed) {
		// 				addToHtml(data.data[i]);
		// 					// ue.setContent(detailsAll);
		// 					//						
		// 				// }
		// 			}
		// 		},
		// 		error: function(msg) {
		// 			console.log("error 加载数据失败")
		// 		}
		// 	});
		// }

		// ShowDiv();
		function addToHtml(data) {
			// userid = data["userid"]
			// // orderid=data.orderid;
			// orderid = data["orderid"]
			// price = data["price"]
			// ordertime = data["ordertime"]
			// isaudit = data["isaudit"]
			// ispass = data["ispass"]
			// iscancel = data["iscancel"]
			// ispay = data["ispay"]
			// issend = data["issend"]
			// ispaydone = data["ispaydone"]
			// isclose = data["isclose"]
			// var myHtml = '<tr><th scope="row">1</th><td>' + orderid + '</td><td>' + userid + '</td><td>' + price + '</td><td>'+ordertime+'</td><td>' + isaudit + '</td><td>'+ispass+'</td><td>'+iscancel+'</td><td>'+ispay+'</td><td>'+issend+'</td><td>'+ispaydone+'</td><td>'+isclose+'</td><td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></td><td ><span class="glyphicon glyphicon-trash deletespan" aria-hidden="true"></span></td></tr>'
			// $("#mytbody").append(myHtml)
		}
		addToHtml();

		//解析数据 data为数组
		function parseFn(data) {
			for(var i = 0; i < data.length; i++) {
				addToHtml(data[i])
			
			}
			//为编辑添加删除事件
			$(".deletespan").click(function() {
				//console.log(this)
				var trEle = $(this).parents("tr")
				//				console.log($(trEle.children("td")[0]).text());
				var mydelete = $(trEle.children("td")[0]).text()
				$.ajax({
					url: "http://localhost:8000/ordertableDelete/" + mydelete + "/",
					context: document.body,
					success: function(result) {
						console.log(result)
					}
				});
			});
		}
		$.ajax({
            url: "http://localhost:8000/ordertableManageJsonSelete/",
            context: document.body,
            success: function(result) {
                for(var i = 0; i < result.length; i++) {
				// console.log(result)
                addToHtml(result)
                }
            }
        });
		
		
		
		$('#tijiao').bind("click", function(){
			var orderid = $('#orderid').val();
			var price = $('#price').val();
			var status = $("#myStatus").find("option:selected").val();
			// console.log("((((((((");
			// console.log(price,orderid , status),
			// console.log(userid , orderid , status)
			$.ajax({
			
			url: "http://localhost:8000/ordertableManageJsonSelete/?orderid="+orderid+"&price="+price+"&status="+status+"",
			success: function(result) {
				console.log("aaa")
				console.log(result)
				}
	     	});		
		});

	</script>
	{% endblock %}